{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}


{# Pulls in unity header #}
{{ attach_library('asu_react_integration/reactjs') }}
{{ attach_library('renovation/maintenance') }}

  <div class="container">
    <main role="main" style="padding-top:150px; padding-bottom:5px">
      <header role="banner">
        <div id="header-container"></div>



        <script>
          AsuHeader.initGlobalHeader({
            targetSelector: "#header-container",
            props: {
              loggedIn: false,
              logoutLink: "/caslogout",
              loginLink: "/cas",
              userName: "",
              title: "{{site_name}}",
              parentOrg: "{{parent_org}}",
              parentOrgUrl: "{{ parent_url}}",
              breakpoint: "Lg",
              searchUrl: "https://search.asu.edu/search",
              site: "subdomain",
            },
          });
        </script>
      </header>

      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}

      <h1>{{siteName}}</h1>

      {{ page.highlighted }}

      {{ page.content }}
      <p>&nbsp;</p>
    </main>

    {% if page.sidebar_first %}
      <aside role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </div>

  <footer role="contentinfo">
    {{footer}}
  </footer>