{#
/**
 * @file
 * Default theme implementation for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 * - summary_element: A render array with table summary information (if any).
 *
 * @see template_preprocess_views_view_table()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}

<table{{ attributes.addClass(classes) }}>
  {% if caption_needed %}
    <caption>
    {% if caption %}
      {{ caption }}
    {% else %}
      {{ title }}
    {% endif %}
    {% if (summary_element is not empty) %}
      {{ summary_element }}
    {% endif %}
    </caption>
  {% endif %}
  {% if header %}
    <thead>
      <tr>
        {% for key, column in header %}
          {% if column.default_classes %}
            {%
              set column_classes = [
                'views-field',
                'views-field-' ~ fields[key],
              ]
            %}
          {% endif %}
          <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
            {%- if column.wrapper_element -%}
              <{{ column.wrapper_element }}>
                {%- if column.url -%}
                  <a href="{{ column.url }}" title="{{ column.title }}" rel="nofollow">{{ column.content }}{{ column.sort_indicator }}</a>
                {%- else -%}
                  {{ column.content }}{{ column.sort_indicator }}
                {%- endif -%}
              </{{ column.wrapper_element }}>
            {%- else -%}
              {%- if column.url -%}
                <a href="{{ column.url }}" title="{{ column.title }}" rel="nofollow">{{ column.content }}{{ column.sort_indicator }}</a>
              {%- else -%}
                {{- column.content }}{{ column.sort_indicator }}
              {%- endif -%}
            {%- endif -%}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}
  <tbody>
  <h5>Trying Row in Rows Here...</h5>
    {% for row in rows %}
      <tr{{ row.attributes }}>
        {% for key, column in row.columns %}
          {% if column.default_classes %}
            {%
              set column_classes = [
                'views-field'
              ]
            %}
            {% for field in column.fields %}
              {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
            {% endfor %}
          {% endif %}
          <td{{ column.attributes.addClass(column_classes) }}>
            {%- if column.wrapper_element -%}
              <{{ column.wrapper_element }}>
              {% for content in column.content %}
                {{ content.separator }}{{ content.field_output }}
              {% endfor %}
              </{{ column.wrapper_element }}>
            {%- else -%}
              {% for content in column.content %}
                {{- content.separator }}{{ content.field_output -}}
              {% endfor %}
            {%- endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    <h5>...Row in Rows Ends Here</h5>

    <h5>Trying Item in Items Here...</h5>
    {% for item in items %}
      {{ item }}
    {% endfor %}
    <h5>... Item in Items ends Here</h5>


  </tbody>
</table>

{#
/**
 * @file
 * Template for card arrangement wrapper.
 */
#}
{# {% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
{% set class_layout = options.view_mode == "0" ? 'uds-card-arrangement-vertical'%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  {{ content.field_anchor_menu_settings }}
  {{ content.field_tooltip }}
  <div class="uds-card-arrangement {{ class_layout }}">
    <div class="uds-card-arrangement-content-container {{ text_color }}">
      <h2>{{ heading }}</h2>
      {{ text }}
      {{ cta }}
    </div>
    <div class="uds-card-arrangement-card-container {{ not class_layout ? 'auto-arrangement' }} {{ not class_layout ? columns }}">
      {{ cards }}
    </div>
  </div>

  {{ content|without('field_heading', 'field_cta', 'field_formatted_text', 'field_card_group', 'field_card_arrangement_display', 'field_anchor_menu_settings', 'field_display_orientation') }}
 </div> #}


 <div class="uds-card-arrangement {{ options.custom_arrangement_style }}">
  <div class="uds-card-arrangement-content-container {{ options.heading_color }}">
    <h2> {{ options.heading }} </h2>
   </div>
   <div class="uds-card-arrangement-card-container {{ not class_layout ? 'auto-arrangement' }} {{ not class_layout ? options.columns_to_display }}">

   <div class="card card-story">
    <img
        class="card-img-top"
        src="https://asu.github.io/asu-unity-stack/@asu/unity-bootstrap-theme/static/media/cards-image.cffeb008.jpg"
        alt="Card image cap"
        width="600"
        height="337"
        loading="lazy"
        decoding="async"
        fetchpriority="high"
        />
    <div class="card-header">
        Title: <h3 class="card-title"><a href="#">{{ options.card_heading }}</a></h3>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ options.card_body }}
        </p>
    </div>
    <div class="card-buttons">
        <div class="card-button">
            <a
                href="#"
                class="btn btn-gold"
                data-ga="Button text link here"
                data-ga-name="onclick"
                data-ga-event="link"
                data-ga-action="click"
                data-ga-type="internal link"
                data-ga-region="main content"
                data-ga-section="card default title"
                >
                Button link here
                </a>
        </div>
    </div>
    <div class="card-link">
        <a
            href="#"
            class=""
            data-ga="Text link here"
            data-ga-name="onclick"
            data-ga-event="link"
            data-ga-action="click"
            data-ga-type="internal link"
            data-ga-region="main content"
            data-ga-section="card default title"
            >
            Regular text link here
        </a>
    </div>
    <div class="card-tags">
        <a class="btn btn-tag btn-tag-alt-white" href="#"> Top Spacing: {{options.spacing_top}} </a>
        <a class="btn btn-tag btn-tag-alt-white" href="#"> Bottom Spacing: {{options.spacing_bottom}} </a>
        <a class="btn btn-tag btn-tag-alt-white" href="#"> View Mode: {{options.view_mode}} </a>
        <a class="btn btn-tag btn-tag-alt-white" href="#"> Columns - {{ options.columns_to_display }} </a>

    </div>
</div>

<div class="card card-story">
  Rows - {{ rows }}
</div>
