{{ attach_library('renovation/renovation.chartjs') }}
{{ attach_library('renovation/charts_graphs') }}

<div class="uds-charts-and-graphs-container" data-number="{{ number }}">
  <div class="uds-charts-and-graphs-overlay {{ text_color }}">
    <p id="percentage-display">{{ number }}%</p>
    <span>{{ text }}</span>
  </div>
  <canvas id="uds-donut"></canvas>
</div>
